#
# Sublime Text 2/3
#

*.sublime-workspace

#
# Ruby
#

# Ignore dependencies.
.bundle
.cache

# Node

# Ignore packages.
node_modules/

#
# Webpack
#

# Ignore build artifacts.
public/assets/

#
# Misc
#

# Harry Potter and the Chamber of Secrets
**/*.env.secrets
**/*.env.*.secrets
