#
# Sublime Text 2/3
#

*.sublime-*

#
# Frontend
#

# Ignore dependencies.
node_modules/
bower_components/

# Ignore build artifacts.
apps/paperstash_app/priv/static/assets/

#
# Backend
#

# Ignore dependencies.
_deps/

# Ignore build artifacts and releases.
_build/
_rel/

# Ignore generated documentation and coverage information.
doc/
docs/
cover/

#
# Misc
#

# Harry Potter and the Chamber of Secrets
**/*.env.secrets
**/*.env.*.secrets
