#
# Sublime Text 2/3
#

*.sublime-*

#
# Erlang and Elixir
#

# Ignore dependencies.
_deps/

# Ignore build artifacts and releases.
_build/
_rel/

# Ignore generated documentation and coverage information.
doc/
docs/
cover/

#
# Misc
#

# Harry Potter and the Chamber of Secrets
**/*.env.secrets
**/*.env.*.secrets
