<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PaperStash</title>
  </head>

  <body>
    <script type="text/javascript">
      // TODO(mtwilliams): Inject warm state.
      window.PaperStash = {};
    </script>

    <div id="spa">
      <!-- This is where the magic happens! -->
    </div>

    <link type="text/css" href="/assets/bundle.css" rel="stylesheet">
    <script type="text/javascript" src="/assets/bundle.js"></script>
  </body>
</html>
