.branding {
  margin: 0 auto;

  font-family: 'Pacifico', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: normal;
  font-size: 22px;

  // CHORE(mtwilliams): Auto-prefix.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #f14444;

  // Inject a subscript Greek beta symbol.
  &:after {
    content: '\03b2';
    color: #cccccc;
    font-size: 14px;
    position: relative;
    left: 0px;
    top: 2px;
  }
}
