.form-group {
  width: 100%;
  margin: 0;

  &:not(last-child) {
    margin-bottom: 20px;
  }

  dt, dd {
    margin: 0;
  }

  .input-label {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    outline: 0;
    border: none;
    border-radius: 3px;
    background: #f14444;
    color: #fff;
  }

  p.note {
    display: block;
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
  }
}
