@import "~susy/sass/susy";

$grid: (
  global-box-sizing: border-box,
  container: $desktop,
  columns: 12,
  gutters: 1/4
);

// Our standard grid, for all breakpoints.
@mixin grid {
  @include container($grid);
}
