.join {
  @include grid;
  margin: 20px auto;
}

.join-form {
  @include span(6 of 12);
  @include breakpoint(tablet) {
    @include span(12 of 12 first);
    padding: 0 20px;
  }
}

.join-spiel {
  @include span(6 of 12 last);
  @include breakpoint(tablet) {
    @include span(12 of 12 last);
    padding: 0 20px;
  }
}
